html,
body {
  margin: 0;
  padding: 0;
}

p {
	text-align		: center;
	font-size: 40;
}

h1 {
	color			: rgb(97, 107, 72);
	text-align		: center;
	font-size		: 10px;
	font-family		: Arial;
	letter-spacing		: 2px;
}

.image {
	position		: relative;
    	text-align		: center;
    	color			: white;
}

h2 {
	font-family		: Arial;
	position		: absolute;
    	top			: 23%;
    	left			: 50%;
    	transform		: translate(-50%, -50%);
    	letter-spacing		: 2px;
}

h3{
	font-size		: 10px;
	font-family		: Arial;
	position		: absolute;
    	top			: 39%;
    	left			: 50%;
    	transform		: translate(-50%, -50%);
    	letter-spacing		: 2px;
}

h4 {
	text-align		: center;
	font-family		: Arial;
	letter-spacing		: 1px;
}


h5{
			text-align: center;
    	letter-spacing		: 22px;
}

h6{
	font-family		: Arial;
		position: fixed;
			right: 55%;
			top: 56%;
			color: white;
			font-size: 18px;
			letter-spacing: 2px;
			font-weight: normal;
}

h7{
	font-family		: Arial;
		position: fixed;
			right: 41.5%;
			top: 60%;
			color: white;
			font-size: 18px;
			letter-spacing: 2px;
			font-weight: normal;
}

.text1{
	width: 240px;
			transform: translate(710px, 0);
	line-height: 15px;
	font-size: 14px;
  color: black;
  font-style: normal;
  font-weight: normal;
}
i{
  	font-size: 18px;
			color			: rgb(152, 161, 114);
			font-weight: bold;
			line-height: 25px;
			font-style: normal;
}

.text2{
	width: 240px;
	transform: translate(972px, -95px);
	line-height: 15px;
	font-size: 14px;
  color: black;
  font-style: normal;
  font-weight: normal;
}

i2{

	font-size: 18px;
			color			: rgb(152, 161, 114);
			font-weight: bold;
			line-height: 25px;
			font-style: normal;
}

.image2 {
	position		: relative;
    	text-align		: center;
    	color			: white;
}

h8 {
	font-family		: Arial;
	position		: absolute;
    	top			: 35%;
    	left			: 50%;
    	transform		: translate(-50%, -50%);
    	letter-spacing		: 2px;
    	font-size: 20px;
    	font-weight: bold;
}

#main-block {
	/* border-width: 10px;
	border-color: red; */
	border: 1px solid grey;
}
